.contact-list-details {
    float: left;
    border-radius: 15px;
    background: lightgray;
    margin-left: 5%;
    margin-top: 3%;
}

.header {
    display: flex;

    img {
        margin: 10px;
        border-radius: 50%;
    }
}

.header-data {
    float: right;
    margin: 20px;
}

.header-data-item {
    margin: 10px 0px 0px 0px;
}

.header-data-item b {
    font-size: larger;
}

.data-container {
    margin: 5px;

    span {
        text-decoration: underline;
    }
}

.data-item {
    margin: 10px;
}

.phone-item {
    display: flex; 
    margin: 10px;
    
    div {    
        width: 100%;
    }
}

